<!doctype html>
<html>
<head>
    <title>MiniProjet</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
<h1>Bienvenue à votre gestionnaire de Bibliothéque</h1>

{% block content %}{% endblock %}
</body>




</html>