{% extends 'layout.twig' %}
{% block content %}
    <div >
        <h3> Login Page</h3>

        <br>
        <form class="form-group" action="/login" method="post" style="max-width: 300px;" >
            <input type="text" class="form-control" name="username" placeholder="Enter
Username"/><br/>
            <input type="password" class="form-control" name="password"
                   placeholder="Password"/>
            <br/>
            <input type="submit" class="btn btn-primary" type="submit" value="Submit" />
            <input type="reset" class="btn btn-danger" value="Cancel" />
        </form>
        <a href='/'>Retour</a>
        {{ error }}
    </div>
{% endblock %}