{% extends 'layout.twig' %}
{% block content %}



 

<form method="post" id="prjform" class="form-group">
<label>Titre</label> <input type="text" class="form-control" id="titre" name="lib" /> <br/>
 
 <input type="submit" class="btn btn-primary" value="Ajouter" />
 
</form>


 
<h1>Vous n'avez pas le droit</h1>
 

{% endblock %}