{% extends 'layout.twig' %}
{% block content %}
 
	 
<div class="col-md-5">
	<a class="btn btn-info" href="/users/news">modifier</a> <br/> <br/>
	</div>
 

<h1>Erreur, vous n'avez pas le droit de visualiser cette page!</h1>
 
{% endblock %}